In [1]:
import graphlab

In [2]:
people = graphlab.SFrame('people_wiki.gl/')

This non-commercial license of GraphLab Create for academic use is assigned to chenyichang91@outlook.com and will expire on February 20, 2018.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\THINKPAD\AppData\Local\Temp\graphlab_server_1487945659.log.0

In [4]:
people['word_count'] = graphlab.text_analytics.count_words(people['text'])

In [5]:
tfidf = graphlab.text_analytics.tf_idf(people['word_count'])

In [6]:
people['tfidf'] = tfidf

In [11]:
people.column_names()

['URI', 'name', 'text', 'word_count', 'tfidf']

# Task 1

In [18]:
Elton_John = people[people['name'] == 'Elton John']

In [19]:
Elton_John.head()

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tfidf	dict

Rows: 1

Data:
+-------------------------------+------------+-------------------------------+
|              URI              |    name    |              text             |
+-------------------------------+------------+-------------------------------+
| <http://dbpedia.org/resour... | Elton John | sir elton hercules john cb... |
+-------------------------------+------------+-------------------------------+
+-------------------------------+-------------------------------+
|           word_count          |             tfidf             |
+-------------------------------+-------------------------------+
| {'all': 1L, 'six': 1L, 'pr... | {'all': 1.6431112434912472... |
+-------------------------------+-------------------------------+
[1 rows x 5 columns]

In [23]:
Elton_John[['word_count']].stack('word_count',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	int

Rows: 255

Data:
+-------+-------+
|  word | tfidf |
+-------+-------+
|  the  |   27  |
|   in  |   18  |
|  and  |   15  |
|   of  |   13  |
|   a   |   10  |
|  has  |   9   |
|   he  |   7   |
|  john |   7   |
|   on  |   6   |
| since |   5   |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [24]:
Elton_John[['tfidf']].stack('tfidf',new_column_name=['word','tfidf']).sort('tfidf',ascending=False)

Columns:
	word	str
	tfidf	float

Rows: 255

Data:
+---------------+---------------+
|      word     |     tfidf     |
+---------------+---------------+
|    furnish    |  18.38947184  |
|     elton     |  17.48232027  |
|   billboard   | 17.3036809575 |
|      john     | 13.9393127924 |
|  songwriters  |  11.250406447 |
|  overallelton | 10.9864953892 |
| tonightcandle | 10.9864953892 |
|    19702000   | 10.2933482087 |
|   fivedecade  | 10.2933482087 |
|      aids     |  10.262846934 |
+---------------+---------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

## Answer 1

In [25]:
print "The top 3 highest word_count words: 'the', 'in', 'and'"

The top 3 highest word_count words: 'the', 'in', 'and'

In [26]:
print "The top 3 highest td_idf words: 'furnish', 'elton', 'billboard'"

The top 3 highest td_idf words: 'furnish', 'elton', 'billboard'

# Task 2

In [27]:
Victoria_Beckham = people[people['name'] == 'Victoria Beckham']

In [29]:
Paul_McCartney = people[people['name'] == 'Paul McCartney']

In [30]:
graphlab.distances.cosine(Elton_John['tfidf'][0],Victoria_Beckham['tfidf'][0])

0.9567006376655429

In [31]:
graphlab.distances.cosine(Elton_John['tfidf'][0],Paul_McCartney['tfidf'][0])

0.8250310029221779

## Answer 2

In [32]:
print "The distance between Elton_John and Victoria_Beckham is: 0.9567006376655429"

The distance between Elton_John and Victoria_Beckham is: 0.9567006376655429

In [33]:
print "The distance between Elton_John and Paul_McCartney is: 0.0.8250310029221779"

The distance between Elton_John and Paul_McCartney is: 0.0.8250310029221779

# Task 3

In [39]:
wc_model = graphlab.nearest_neighbors.create(people,features=['word_count'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [40]:
knn_model = graphlab.nearest_neighbors.create(people,features=['tfidf'],label='name',distance='cosine')

Starting brute force nearest neighbors model training.

In [41]:
wc_model.query(Elton_John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.504ms      |

| Done         |         | 100         | 316.743ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-------------------+------+
| query_label |  reference_label  |      distance     | rank |
+-------------+-------------------+-------------------+------+
|      0      |     Elton John    | 2.22044604925e-16 |  1   |
|      0      |   Cliff Richard   |   0.16142415259   |  2   |
|      0      |   Sandro Petrone  |   0.16822542751   |  3   |
|      0      |    Rod Stewart    |   0.168327165587  |  4   |
|      0      | Malachi O'Doherty |   0.177315545979  |  5   |
+-------------+-------------------+-------------------+------+
[5 rows x 4 columns]

In [42]:
knn_model.query(Elton_John)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 13.01ms      |

| Done         |         | 100         | 370.259ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+--------------------+------+
| query_label | reference_label  |      distance      | rank |
+-------------+------------------+--------------------+------+
|      0      |    Elton John    | -2.22044604925e-16 |  1   |
|      0      |   Rod Stewart    |   0.717219667893   |  2   |
|      0      |  George Michael  |   0.747600998969   |  3   |
|      0      | Sting (musician) |   0.747671954431   |  4   |
|      0      |   Phil Collins   |   0.75119324879    |  5   |
+-------------+------------------+--------------------+------+
[5 rows x 4 columns]

In [43]:
wc_model.query(Victoria_Beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 8.507ms      |

| Done         |         | 100         | 323.715ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+--------------------+------+
| query_label |     reference_label      |      distance      | rank |
+-------------+--------------------------+--------------------+------+
|      0      |     Victoria Beckham     | -2.22044604925e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |   0.207307036115   |  2   |
|      0      |      Adrienne Corri      |   0.214509782788   |  3   |
|      0      |     Beverly Jane Fry     |   0.217466468741   |  4   |
|      0      |      Raman Mundair       |   0.217695474992   |  5   |
+-------------+--------------------------+--------------------+------+
[5 rows x 4 columns]

In [44]:
knn_model.query(Victoria_Beckham)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.014ms      |

| Done         |         | 100         | 471.822ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+-------------------+------+
| query_label |   reference_label   |      distance     | rank |
+-------------+---------------------+-------------------+------+
|      0      |   Victoria Beckham  | 1.11022302463e-16 |  1   |
|      0      |    David Beckham    |   0.548169610263  |  2   |
|      0      | Stephen Dow Beckham |   0.784986706828  |  3   |
|      0      |        Mel B        |   0.809585523409  |  4   |
|      0      |    Caroline Rush    |   0.819826422919  |  5   |
+-------------+---------------------+-------------------+------+
[5 rows x 4 columns]

## Answer 3

In [45]:
print "What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?"
print "Cliff Richard"

What’s the most similar article, other than itself, to the one on ‘Elton John’ using word count features?
Cliff Richard

In [46]:
print "What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features?"
print "Rod Stewart"

What’s the most similar article, other than itself, to the one on ‘Elton John’ using TF-IDF features?
Rod Stewart

In [47]:
print "What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features?"
print "Mary Fitzgerald (artist)"

What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using word count features?
Mary Fitzgerald (artist)

In [48]:
print "What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features?"
print "David Beckham	"

What’s the most similar article, other than itself, to the one on ‘Victoria Beckham’ using TF-IDF features?
David Beckham